
a{
		text-decoration: none;
		background-color: blue;
		color: white;
		text-align: center;
		padding: 10px 20px;
		display: inline-block;
		border-radius: 10px;
		margin-right: 15px;	
		margin-top:20px;
		margin-bottom:18px;
	}
	a:hover{
		background-color: #000066;
	}
		
	body{
		background-image:url('./images/home.png');
		background-size:cover;
		background-attachment:fixed;
		background-repeat:no-repeat;
		background-position: center;
	}
	#nav{
		background-color: #f2bef7;
	}
		
	h1{
		text-align: center;
		color: #660066;
		font-family: 'Trebuchet MS', sans-serif, Courier New;
		font-size: 60px;
	}
	p{
		font-family: 'Trebuchet MS', sans-serif, Courier New;
		font-size: 25px;
		padding: 0 50px 0 50px;
		text-align: left;
	}
		
	.join{
		text-decoration: none;
		background-color: red;
		color: white;
		text-align: center;
		padding: 10px 20px;
		display: inline-block;
		border-radius: 10px;
	}
		
	join:hover{
		background-color:#993300;
	}

	.header{
		padding: 20px;
		text-align: center;
	}
	.border{
	background-color: lightgrey;
	border: 15px solid green;
	padding: 50px;
	margin: 20px;
	}